<div class="container">
  <div class="jumbotron row" style="margin-top: 30px">
    <% if(flash && flash.err) { %>
      <div class="row">
        <div class="alert alert-danger col-sm-12">
          <strong>Oops!</strong>&nbsp;<%= flash.err %>. Please check missing fields and try again.
        </div>
      </div>
    <% } %>
    <img class="col-md-2" src="/images/default_avatar.png">
    <div class="col-md-5" style="display: inline-block; vertical-align: top">
      <form style="display: inline-block" action="/contact/update/<%= contact.id %>" method="POST">
        <input type="hidden" name="_method" value="put">
        <input type="text" placeholder="New contact name.." class="form-control input-lg" name="name" value="<%= contact.name %>">
        <input type="text" placeholder="New contact number.." style="margin: 5px 0 0 0" class="form-control input-lg" name="number" value="<%= contact.number %>">
        <br>
        <input type="submit" class="btn btn-success btn-sm" value="Save">
        <a class="btn btn-danger btn-sm" href="/contact">Cancel</a>
      </form>
    </div>
  </div>
</div>