<div class="container">
    <div class="jumbotron">
        <h1 align="center">Phonebook Application</h1>
        <br>
        <div id="todo-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form class="form-inline" action='contacts' method='POST'>
                    <div class="form-group">
                      <input type="text" name="contact_name" class="form-control input-md text-center" style="width: 350px" placeholder="Name..">
                      <input type="text" name="contact_num" class="form-control input-md text-center" style="width: 210px" placeholder="Contact Number..">
                      <button type="submit" class="btn btn-primary btn-md">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="todo-list" class="row">
        <div class="col-sm-4 col-sm-offset-4">
        </div>
    </div>
</div>