<div id="form-contact">
	<form action='contacts' method='POST'>
		<input type="text" name="contact_name" placeholder="Name.." />
		<input type="text" name="contact_num" placeholder="Number.." />
		<input type="submit" value="Save" />
	</form>
</div>