

  <div class="container" style="margin-top: 30px">
    <div class="jumbotron">
      <div class="text-center">
        <h1 align="center">Simple Phonebook App</h1>
        <h3>A <a href="http://sailsjs.org/" target="_blank">Sails JS</a> driven application created with <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a></h3>
      </div>
      <br>
      <div class="form-group text-center">
        <a href="/contact" class="btn btn-primary btn-md">Get Started »</a>
      </div>
    </div>
  </div>

