<div class="container">
  <div class="jumbotron">
    <h1 align="center">Phonebook Application</h1>
    <br>
    <div class="form-group text-center">
      <a href="/contact" class="btn btn-primary btn-md">Proceed</a>
    </div>
  </div>
</div>